<html>
    <head></head>
    <body>
        Welcome to <%=title%>
        <ul>
            <%for(var i=0; i<lists.length; i++){%>
            <li><%=lists[i]%></li>
            <%}%>
        </ul>
    </body>
</html>
